## Pratical Questions:

Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def listsum(*args):
  add = 0
  for i in args:
    add+= i
  return add
List = [1,2,3,4]
print(listsum(*List))

10

Q2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse(str):
  a = ""
  i = -1
  for _ in str:
    a+=str[i]
    i-=1
  print(f'The Reversed String is: {a}')

reverse("Shubham Kumar")

The Reversed String is: ramuK mahbuhS

Q3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def Squared(*args):
  a=[]
  for i in args:
    a.append(i**2)
  return a
l1=[1,2,3,4,5]
print(Squared(*l1))

[1, 4, 9, 16, 25]

Q4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def checkops(n):
  if n>200 or n<1 :
    return f"{n} is not from 1 to 200"
  else:
    for i in range(2,n-1):
      if n%i ==0:
        return f"{n} is not Prime"
      else:
        return f"{n} is a Prime"
print(checkops(230))

230 is not from 1 to 200

 Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms

In [ ]:
n = int(input("Enter the number of Febonaci series you want to generate"))
l1 =[]
for i in range(n+1):
  fib = lambda x: x if x<=1 else fib(x-1)+fib(x-2)
  l1.append(fib(i))
print(l1)

Enter the number of Febonaci series you want to generate10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

 Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def powers_of_two(exponent):
  for i in range(exponent + 1):
    yield 2**i

for power in powers_of_two(5):
  print(power)

1
2
4
8
16
32

Q7. Implement a generator function that reads a file line by line and yields each line as a string.

In [30]:
def read_file_line_by_line(filename):
  try:
    with open(filename, 'r') as f:
      for line in f:
        yield line.strip()
  except FileNotFoundError:
    print(f"Error: File '{filename}' not found.")
  except Exception as e:
    print(f"An error occurred: {e}")

with open('my_example_file.txt', 'w') as f:
    f.write("This is the first line.\n")
    f.write("This is the second line.\n")
    f.write("And the third line.")

# Now, use the generator function to read the file
print("Reading 'file.txt':")
for line in read_file_line_by_line('file.txt'):
  print(line)

# Example with a non-existent file
print("\nAttempting to read a non-existent file:")
for line in read_file_line_by_line('non_existent_file.txt'):
  print(line)

Reading 'file.txt':
My name is Shubham Kumar I am 20 years Old currently
pursuing BBA at GLA University, Mathura. Recently this
summer I got an Opportunity to put my learning at work
on the internship at Unified Mentors where I worked on
Secondary Data on the drug side effects.

Attempting to read a non-existent file:
Error: File 'non_existent_file.txt' not found.

Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [31]:
# Sample list of tuples
list_of_tuples = [(1, 'apple'), (3, 'banana'), (2, 'cherry'), (4, 'date')]

# Sort the list of tuples using a lambda function based on the second element
sorted_list = sorted(list_of_tuples, key=lambda item: item[1])

# Print the sorted list
print(sorted_list)

# Example with numerical second elements
list_of_tuples_numeric = [(10, 5), (5, 20), (15, 10)]
sorted_list_numeric = sorted(list_of_tuples_numeric, key=lambda item: item[1])
print(sorted_list_numeric)

[(1, 'apple'), (3, 'banana'), (2, 'cherry'), (4, 'date')]
[(10, 5), (15, 10), (5, 20)]

Q9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [33]:
c1 =[32,45,12,76,-15]
f1 = list(map(lambda x: (x*9/5)+32, c1))
print(f1)

[89.6, 113.0, 53.6, 168.8, 5.0]

Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [36]:
def remove_vowels(text):
  vowels = "aeiouAEIOU"
  return "".join(filter(lambda char: char not in vowels, text))

my_string = input("Enter The String that you want remove Vowels")
string_without_vowels = remove_vowels(my_string)
print(f"Original string: {my_string}")
print(f"String without vowels: {string_without_vowels}")

Enter The String that you want remove VowelsI am Shubham Kumar
Original string: I am Shubham Kumar
String without vowels:  m Shbhm Kmr

 Q11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

 | Order Number | Book title and Author | Quantity | Price Per Item |
 |--------------|-----------------|------|---|
 | 34587| Learning Python, Mark Lutz | 4 | 40.95 |
 | 98762| Programing Python, Mark Lutz | 5 | 56.80 |
 | 77226| Head First Python, Paul Barry | 3 | 32.95 |
 | 88112| Einfuhrung in Python3, Bernd Klein | 3 | 24.99 |



 Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

 Write a Python program using lambda and map

In [37]:
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programing Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einfuhrung in Python3, Bernd Klein', 3, 24.99]
]

# Function to calculate total price and apply surcharge
calculate_price = lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0))

# Use map to apply the lambda function to each order
processed_orders = list(map(calculate_price, orders))

# Print the result
print(processed_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]