## Practical Questions

### Q1. Write a code to create a string with your name and print it.

In [ ]:
name = "Shubham Kumar"
print(name)

Shubham Kumar

### Q2. Write a code to find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

### Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
word = "Python Programming"
print(word[0:3])

Pyt

### Q4. Write a code to convert the string "hello" to uppercase.

In [2]:
string = "hello"
print(string.upper())

HELLO

### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
x = "I like apple"
y = x.replace("apple","orange")
print(y)

I like orange

### Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [1]:
list6 = [1, 2, 3, 4, 5]
print(list6)

[1, 2, 3, 4, 5]

### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list7 = [1, 2, 3, 4]
list7.append(10)
print(list7)

[1, 2, 3, 4, 10]

### Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list8 = [1, 2, 3, 4, 5]
list8.remove(3)
print(list8)

[1, 2, 4, 5]

### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list9 = ['a', 'b', 'c', 'd']
print(list9[1])

b

### Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

---

In [ ]:
list10 = [10, 20, 30, 40, 50]
list10.reverse()
print(list10)

[50, 40, 30, 20, 10]

### Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple11 = (100, 200, 300)
print(tuple11)

(100, 200, 300)

### Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple12 = ('red', 'green', 'blue', 'yellow')
print(tuple12[-2])

blue

### Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple13 = (10, 20, 5, 15)
print(min(tuple13))

5

### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple14 = ('dog', 'cat', 'rabbit')
print(tuple14.index('cat'))

1

### Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple15 = ('apple', 'banana', 'cherry')
print("kiwi" in tuple15)

False

### Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set16 = {'a', 'b', 'c'}
print(set16)

{'a', 'c', 'b'}

### Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set17 = {1, 2, 3, 4, 5}
set17.clear()
print(set17)

set()

### Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set18 = {1, 2, 3, 4}
set18.remove(4)
print(set18)

{1, 2, 3}

### Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set19_a = {1, 2, 3}
set19_b = {3, 4, 5}
print(set19_a.union(set19_b))

{1, 2, 3, 4, 5}

### Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set20_a = {1, 2, 3}
set20_b = {2, 3, 4}
print(set20_a.intersection(set20_b))

{2, 3}

### Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict21 = {"name": "John", "age": 25, "city": "New York"}
print(dict21)

{'name': 'John', 'age': 25, 'city': 'New York'}

### Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict22 = {'name': 'John', 'age': 25}
dict22["country"] = "USA"
print(dict22)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict23 = {'name': 'Alice', 'age': 30}
print(dict23["name"])

Alice

### Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict24 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict24["age"]
print(dict24)

{'name': 'Bob', 'city': 'New York'}

### Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict25 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict25)

True

### Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list26 = [1, 2, 3]
tuple26 = (4, 5, 6)
dict26 = {"a": 7, "b": 8}
print(list26)
print(tuple26)
print(dict26)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

### Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
list27 = random.sample(range(1, 101), 5)
list27.sort()
print(list27)

[19, 60, 75, 98, 100]

### Q28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list28 = ["apple", "banana", "cherry", "date"]
print(list28[2])

cherry

### Q29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict29_a = {"a": 1, "b": 2}
dict29_b = {"c": 3, "d": 4}
dict29_combined = {**dict29_a, **dict29_b}
print(dict29_combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Q30. Write a code to convert a list of strings into a set.

In [ ]:
list30 = ["apple", "banana", "cherry", "apple"]
set30 = set(list30)
print(set30)

{'apple', 'cherry', 'banana'}